<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023856234975-hdmqfkr9di1nopq4odnpb2rg7i5ukj9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023856234975-hdmqfkr9di1nopq4odnpb2rg7i5ukj9q</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAY__acf7yASeGcEwaBzUrLXk8CVoxys</string>
	<key>GCM_SENDER_ID</key>
	<string>1023856234975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jam</string>
	<key>PROJECT_ID</key>
	<string>jamapp-5206c</string>
	<key>STORAGE_BUCKET</key>
	<string>jamapp-5206c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023856234975:ios:2b152fdceeeb6bb48a746a</string>
</dict>
</plist>